# "url": "mqtts://w6a455d1.ala.eu-central-1.emqxsl.com:8883",
# "clientId": "s7-adapter",
# "username": "app",
# "password": "app"

# NEXT_PUBLIC_MQTT_BROKER_URL="wss://w6a455d1.ala.eu-central-1.emqxsl.com:8084/mqtt"
# NEXT_PUBLIC_MQTT_CLIENT_ID="dashboard-client"
# NEXT_PUBLIC_MQTT_USERNAME="dev"
# NEXT_PUBLIC_MQTT_PASSWORD="dev"

MQTT_BROKER_URL=ws://localhost:8083/mqtt
MQTT_CLIENT_ID=dashboard-client
MQTT_USERNAME=dev
MQTT_PASSWORD=dev

LIVEKIT_URL=wss://cnc-demo-7wj97mwz.livekit.cloud
LIVEKIT_API_KEY=APIeNJYiSJnTXTD
LIVEKIT_API_SECRET=3kTnOeRPRfXyenmRcjlGXg57obwcEL9mSljHyzEn1RYA

# NEXT_PUBLIC_LIVEKIT_URL=wss://cnc-demo-7wj97mwz.livekit.cloud
# NEXT_PUBLIC_LIVEKIT_API_KEY=APIeNJYiSJnTXTD
# NEXT_PUBLIC_LIVEKIT_API_SECRET=3kTnOeRPRfXyenmRcjlGXg57obwcEL9mSljHyzEn1RYA